<div style="text-align: center">
  <h2>Create User</h2>
</div>


<div style="padding: 10%;">
  <form class="form" (ngSubmit)="onSubmit()">

    <div class="container">
      <mat-form-field>
        <input placeholder="User Name" matInput type="text" [(ngModel)]="user.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="User Email" matInput type="text" [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" [(ngModel)]="user.dateOfBirth"
          name="dateOfBirth" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="user.status" name="gender">
          <mat-option value="male">male</mat-option>
          <mat-option value="female">female</mat-option>
          <mat-option value="other">other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Hourly Rate" matInput type="number" [(ngModel)]="user.hourlyRate" name="hourlyRate">
      </mat-form-field>
    </div>

    <div class="row" style="padding: 10px 0px;">
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="primary" type="button" [routerLink]="['/users']">Back</button>
    </div>
  </form>
</div>