<div style="text-align: center">
        <h2>User List</h2>
      </div>
      
      <div class="row" style="padding: 20px 0px;">
        <button mat-raised-button color="primary" type="button" [routerLink]="['create']">Create User</button>
        <button mat-raised-button color="primary" type="button" [routerLink]="['/jobs']">Jobs</button>
      </div>
      
      <table mat-table class="mat-elevation-z8">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Rate</th>
            <th>DOB</th>
            <th>Edit</th>            
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList$ | async">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.hourlyRate }}</td>
            <td>{{ user.dateOfBirth | date: 'MM/dd/yy' }}</td>
            <td><button mat-raised-button color="accent"type="button" [routerLink]="[user.id]">Edit</button></td>
            <td><button mat-raised-button color="warn"type="button" (click)="deleteUser(user)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      