<div style="text-align: center">
  <h2>Job List</h2>
</div>

<div style="padding: 20px 0px;">
  <button type="button" [routerLink]="['create']">Create Job</button>
  <button type="button" [routerLink]="['/users']">Users</button>
</div>
<button mat-button color="primary">Primary</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobList$ | async">
      <td>{{ job.id }}</td>
      <td>{{ job.title }}</td>
      <td>{{ job.description }}</td>
      <td>{{ job.createdAt | date: "MM/dd/yy" }}</td>
      <td>{{ job.updatedAt | date: "MM/dd/yy" }}</td>
      <td><button type="button" [routerLink]="[job.id]">Edit</button></td>
      <td><button type="button" (click)="deleteJob(job)">Delete</button></td>
    </tr>
  </tbody>
</table>
