<div style="text-align: center">
  <h2>Create Job</h2>
</div>

<div style="padding: 10%;">
  <form class="form" (ngSubmit)="onSubmit()">

    <div class="container">
      <mat-form-field>
        <input placeholder="Job Title" matInput type="text" [(ngModel)]="job.title" name="title">
      </mat-form-field>

      <mat-form-field>
        <textarea placeholder="Job Description" matInput [(ngModel)]="job.description" name="description"></textarea>
      </mat-form-field>
    </div>
    
    <div class="row" style="padding: 10px 0px;">
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="primary" type="button" [routerLink]="['']">Back</button>
    </div>
  </form>
</div>