

<div style="text-align: center">
  <h2>Create Job</h2>
</div>

<div style="padding: 30px;">
  <form (ngSubmit)="onSubmit()">
    <div>
      {{ job.id }}
    </div>
    <div style="padding: 10px 0px;">
      <label for="title">Job Title</label>
      <input style="display: block; width: 50%;" type="text" [(ngModel)]="job.title" name="title" />
    </div>

    <div style="padding: 10px 0px;">
      <label for="description">Job Description</label>
      <textarea style="display: block;"
        type="text"
        [(ngModel)]="job.description"
        name="description"
        cols="100"
        rows="10"
      ></textarea>
    </div>

    <div class="row" style="padding: 10px 0px;">
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="primary" type="button" [routerLink]="['']">Back</button>    
    </div>
  </form>
</div>
